body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  color: #2e3d34;
  background-color: #f8e8d5;
}

/* ------------------------------ MEDIA --------------------------------*/

/* ****************************** MOBIL ******************************* */
@media screen and (max-width: 469px) {

  #pc {
    display: none;
  }

  #mobile {
    display: block;
  }

}

/* ******************************** PC ******************************** */
@media screen and (min-width: 470px) {

  #pc {
    display: block;
  }

  #mobile {
    display: none;
  }

}
