body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  color: #442e2a;
  background-color: #ebe4f2;
  font-size: 1.2em;
}

html {
  scroll-behavior: smooth;
}

#sideCard {
  width: 20%;
  float: left;
  background-color: #ec9563;
  margin: 1%;
  position: fixed;
}

.content {
  width: 76%;
  float: right;
  background-color: #f3ccbb;
  margin: 1%;
  text-align: center;
}


p {
  width: 100%;
  padding: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ec9563;
}

.nav {
  float: right;
}

li a {
  display: block;
  color: #442e2a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav:hover {
  background-color: #442e2a;
  color: #ec9563;
}

img {
  width: 100%;
  height: auto;
}

.spanPad {
  display: block;
  position: relative;
  top: -105px;
  visibility: hidden;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.menu{
  position: fixed !important;
  width: 76%;
  margin-left: 23% !important;
  background-color: #f3ccbb;
  margin: 1%;
  text-align: center;
}

.about {
  margin-top: 8rem !important;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: #363237;
  font-size: 25px;
  padding: 16px 32px;
}

.moreInfo {
  border: 2px solid #363237;
  border-radius: 2px;
  background-color: transparent;
  color: #363237;
  cursor: pointer;
  font-size: 15px;
}

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.modal-content {
   background-color: #fefefe;
   margin: 5% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}

.close_m {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close_m:hover,
.close_m:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

/* ------------------------------ MEDIA --------------------------------*/
@media screen and (max-width: 469px) {

}
