body,h1,h2,h3,h4,h5,h6 {font-family: 'Ubuntu', sans-serif;}

body, html {
  height: 100%;
  line-height: 1.8;
  color: #0c1d24;
  background-color: #265c73;
  font-size: 1.2em;
}

html {
  scroll-behavior: smooth;
}

div {
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
}

.spanPad {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.title {
  height: 100%;
  width: 100%;
}

.titleText {
  width: auto;
  float: left;
  margin-left: 10%;
  margin-top: 15%;
}

.name {
  font-size: 3.5em;
}

.profilFoto {
  width: auto;
  padding-top: 3%;
  height: 100%;
  float: right;
}

.iconPad {
  padding: 2%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  font-size: 1.2em !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #0c1d24;
  color: #e4e3f5;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #0c1d24 transparent;
}

.ttl::after {
  left: 28%;
}

.ttc::after {
  left: 50%;
}

.ttr::after {
  left: 18%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #0c1d24;
  color: #e4e3f5;
  z-index: 999 !important;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav:active {
  background-color: #e4e3f5;
  color: #0c1d24;
}

.nav:hover {
  background-color: #e4e3f5;
  color: #0c1d24;
}

h1 {
  padding-top: 2%;
  width: 100%;
  text-align: center;
}

.d0 {
  background-color: #e4e3f5;
  color: #0c1d24;
}

.hr0 {
  width: 33%;
  border-top: 5px solid #0c1d24;
  border-radius: 2px;
  margin-left: 33%;
  margin-top: 0px;
  padding-top: 0px;
}

.rounded {
  border-radius: 5px;
}

.d1 {
  background-color: #265c73;
  color: #e4e3f5;
}

.hr1 {
  width: 33%;
  border-top: 5px solid #e4e3f5;
  border-radius: 2px;
  margin-left: 33%;
  margin-top: 0px;
  padding-top: 0px;
}

.imgCenter {
  width: 50%;
  height: auto;
  margin-left: 25%;
}

.textCenter {
  width: 70%;
  height: auto;
  margin-right: 25%;
}

.copy {
  height: 5% !important;
  text-align: center;
  background-color: #0c1d24;
  color: #e4e3f5;
  margin-top: 2% !important;
}

.copyText {
  margin-top: 2% !important;
}

.content {
  padding: 2%;
}

.cont-form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0c1d24;
}

input[type=text], textarea {
  width: 100%;
  background-color: #e4e3f5;
}

.sendB {
  background-color: #e4e3f5;
  color: #0c1d24;
  border: 2px solid #0c1d24 !important;
  border-radius: 2px !important;
  margin-left: auto;
  margin-right: auto;
}

.sendB:hover {
  background-color: #0c1d24;
  color: #e4e3f5;
}

.arrowUp {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: transparent;
}

.arrow {
  color: #0c1d24;
}

.arrow:hover {
  cursor: pointer;
}

.aboutNav, .cpNav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.projNavBtn {
  color: #e4e3f5;
  background-color: transparent;
  border: 2px solid #e4e3f5 !important;
  font-size: 1.5em;
  margin: 0.1%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-left: 0.6%;
  padding-right: 0.6%;
}

.aboutNavBtn, .compNavBtn {
  color: #0c1d24;
  background-color: transparent;
  border: 2px solid #0c1d24 !important;
  font-size: 1.5em;
  margin: 0.1%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-left: 0.6%;
  padding-right: 0.6%;
}

.row_cp {
  width: 60%;
  margin-left: 20%;
  margin-right: auto;
}

.column_cp {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row_cp::after {
  content: "";
  clear: both;
  display: table;
}

.container_cp {
  position: relative;
  width: 100%;
}

.image_cp {
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle_cp {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_cp:hover .image_cp {
  opacity: 0.3;
  cursor: pointer;
}

.container_cp:hover .middle_cp {
  opacity: 1;
}

.text_cp {
  background-color: transparent;
  color: #363237;
  font-size: 25px;
  padding: 16px 32px;
}

.text_d0 {
  color: #0c1d24;
}

.text_d1 {
  color: #e4e3f5;
}

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #0c1d24;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  margin-bottom: 1%;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #e4e3f5;
  border: 4px solid #0c1d24;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #0c1d24;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #0c1d24;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 31px;
  border: medium solid #0c1d24;
  border-width: 10px 10px 10px 0;
  border-color: transparent #0c1d24 transparent transparent;
}

/* Fix the circle on line */
.right::after {
  left: -2%;
}

.left::after {
  left: 98%;
}

/* The actual content */
.tlContent {
  padding: 20px 30px;
  background-color: #edecf8;
  color: #0c1d24;
  position: relative;
  border-radius: 6px;
  border: 2px solid #0c1d24;
}

.iconTopTl {
  margin: auto;
  height: 50px;
  width: 50px;
  font-size: 2em;
  border: 2px solid #0c1d24;
  border-radius: 50%;
  text-align: center;
}

.skillsDv {
  width: 100%;
  margin-left: 14%;
  margin-right: auto;
  align-items: center;
}

.skillsCont {
  width: 11%;
  align-items: center;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto !important;
}

.modal-content {
  background-color: #e4e3f5;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  color: #0c1d24;
  text-align: center;
  z-index: 999;
}

.close_m {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_m:hover,
.close_m:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  font-size: 2.2em;
  color: #0c1d24;
}

.modal-img, .modal-text, .modal-ul {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.modal-icon {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.modal-btn {
  border: 2px solid #0c1d24;
  border-radius: 4px;
  background-color: #0c1d24;
  color: #e4e3f5;
  font-size: 1.2em;
  margin: 1% !important;
}

.modal-btn:hover {
  border: 2px solid #265c73;
  background-color: #265c73;
  color: #0c1d24;
  cursor: pointer;
}

.modal-hr {
    width: 75%;
    align-self: center;
    border: 5px solid #265c73 !important;
    border-radius: 5px;
    margin-left: 12.5% !important;
    margin-right: 12.5%;
    margin-top: 0%;
    margin-bottom: 0%;
    z-index: 999 !important;
}

/* ------------------------------------------------ MEDIA ----------------------------------------------- */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}